/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font-family: "IBM Plex Mono";
  --button-line-height: 1em;
  --main-text-font-weight: 400;
  --main-title-font-weight: 700;
  --main-text-line-height: 1.3em;
  --main-text-font-size: 1.125rem;
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --bg-alt-color: #fff1f7;
  --text-color: #f1b2ce;
  --accent-alt-color: #000028;
  --accent-color: #ff0070;
  --focus-text-color: #db00ff;
  --section-header-title-color: #ff0070;
  --decorate-color: #ff0070;
  --h1-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --h1-line-height: 0.825em;
  --h2-font-size: 1.125rem;
  --h3-font-size: 1.125rem;
  --h4-font-size: 1.125rem;
  --article-text-size: 1.125rem;
  --section-row-gap: 20px;
  --section-column-gap: 20px;
  --outer-offset: 20px;
  --decor-offset: 20px;
  --inner-gap: 20px;
  --article-inner-gap: 10px;
  --section-between-margin: 80px;
  --section-outer-margin: 60px;
  --main-margin-size: 20px;
}
